@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter';
  src: url('../../components/Font/Inter/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../components/Font/Inter/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../components/Font/Inter/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #fbfbff;
  font-family: 'Inter', Helvetica Neue, sans-serif !important;
}

.main-wrapper {
  background: #ffffff;
  border-radius: 24px 0px 0px 0px;
}

.main-btn {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(11, 10, 29, 0.07);
  border-radius: 8px;
}

.card-box .text__overlay {
  background: rgba(255, 255, 255, 0.94);
}
.card-box .card-img {
  transition: all 0.3s ease;
}
.card-box:hover .card-img {
  opacity: 0.8;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* SCROLLBar */
.scrollbar-change::-webkit-scrollbar {
  width: 0.1rem;
}
.scrollbar-change::-webkit-scrollbar-track {
  background-color: #fbfbff;
  padding-top: 10px;
  /* background-color: (rgb(48, 47, 47) 173, 173); */
}
.scrollbar-change::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  width: 0.1rem;
  background-color: #f3f3fe;

  /* background-color: #45CD85; */
}

/* TABS */
.tabs-header li.react-tabs__tab--selected .tab-icon {
  color: #f7a932;
}
.tabs-header li.react-tabs__tab--selected button {
  color: #344054 !important;
}
.tabs-header li.react-tabs__tab--selected {
  color: #344054 !important;
  border-bottom: 1px solid;
  border-bottom-color: #f7a932;
}
.tabs-header li:hover {
  transition: all 0.3s ease-in-out;
}
.tabs-header li:hover {
  color: #344054 !important;
  border-bottom: 1px solid;
  border-bottom-color: #f7a932;
  transition: all 0.3s ease-in-out;
}

/* FADE IN ANIMATION */
.fade-in {
  animation: fadeIn 300ms;
  -webkit-animation: fadeIn 300ms;
  -moz-animation: fadeIn 300ms;
  -o-animation: fadeIn 300ms;
  -ms-animation: fadeIn 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#demo-customized-button:hover {
  background: #f3f3fe !important;
}

/* MODAL */
.modal__box {
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  /* background-color: rgba(31,32,41,.75); */
  background: rgba(55, 54, 54, 0.84);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.modal__box-wrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border-radius: 4px; */
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  /* background-color: #fff; */
  -ms-flex-item-align: center;
  align-self: center;
  /* box-shadow: 0 12px 25px 0 rgba(199,175,189,.25); */
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
  padding: 30px 40px;
}

.modal__box-wrapper.alert--bx {
  max-width: 400px;
}

.modal__box.show {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.modal__box.show .modal__box-wrapper {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 991px) {
  .modal__box-wrapper {
    max-width: 700px;
  }
}
@media only screen and (max-width: 767px) {
  .modal__box-wrapper {
    width: calc(100% - 40px);
  }
}
